.root {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.smallIconText {
  font-size: 1rem;
  margin: 5px;
}

.largeIconText {
  font-size: 2rem;
  margin: 5px;
}

.smallIconWrapper {
  background-color: #fff;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  img {
    height: 50px;
    position: relative;
    top: 15px;
  }
}

.largeIconWrapper {
  background-color: #fff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  img {
    height: 150px;
    position: relative;
    top: 20px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.largeIconAnimate {
  animation: spin 1s;
}

.tooltip {
  position: relative; /* making the .tooltip span a container for the tooltip text */
}

.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position: absolute;

  /* vertically center */
  top: 50%;
  // left: 25%;

  /* basic styles */
  padding: 5px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  display: none; /* hide by default */
  z-index: 1;
}

.tooltip:hover:before {
  display: block;
}
